@font-face {
  font-family: 'tegaki';
  src: font-url('tegaki.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  //DL先⇛http://pm85122.onamae.jp/851H_kktt.html
}

@font-face {
  font-family: 'hikki';
  src: font-url('BraxtonDemo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  //DL先⇛https://www.fontfabric.com/fonts/braxton/
}