.footer__commentform
  .footer__commentform__input
    = text_field :text, 'comment'
    %label.label
      = fa_icon 'image'
  .footer__commentform__submit
    %input{:type => "submit", :value => "send"}