.header
  = render partial: "header"

= include_gon
#map
%script{:charset => "utf-8", :src => "", :type => "text/javascript"}
  =link_to station_images_path(1) do
    %br images_controllerã®index
.footer
  = render partial: "credit"