.header
  = render partial: "header"
.main
  =link_to map_path(:id) do
    maps_controllerのindex
  =link_to station_images_path(1) do
    %br images_controllerのindex
.footer
  = render partial: "credit"