.header
  .header_left
    = link_to '/' do
      StationRarry
  .header_right
    .btn
      %ul
        %li
          = link_to '/' do
            新規登録
        %li
          = link_to '/' do
            ログイン
    

.main

.footer