.header
  = render partial: "header"

= include_gon
#map
%script{:charset => "utf-8", :src => "https://map.yahooapis.jp/js/V1/jsapi?appid=\ndj00aiZpPUZYZExZMFlLbU5zaiZzPWNvbnN1bWVyc2VjcmV0Jng9ZTY-", :type => "text/javascript"}
  =link_to station_images_path(1) do
    %br images_controllerã®index
.footer
  = render partial: "credit"