.header
  = render partial: "header"
.main
  .main__stationname
    YRP野比
  .main__images
    -# 仮置状態。数字は繰り返し表示する回数
    = render partial: 'main-images', collection: (1..30).to_a
.footer
  = render partial: "form"