.header{
  height: 60px;
  width:100%;
  background : $headterfooter;
  display: flex;
  justify-content: space-between;
  margin:auto 0;
  z-index: 3;
  position: fixed;
  &__left{
    margin: auto 0;
    color: $white;
    margin: auto 10px;
    font-size: 40px;
    font-family: "hikki";
    z-index: 1;
    a{
      color: $white;
      text-decoration: none;
    }
  }
  &__right{
    margin: auto 0;
    display: flex;
    height: 30px;
    line-height: 30px;
    
    &__current{
      height: 30px;
      color: $white;
      text-align: right;
      font-family: 'kosugi';
      margin: 0 auto;
      line-height: 30px;
      padding-right: 50px;
      a{
        text-decoration: none;
        color:white;
      }
    }
    a{
      color: $white;
      text-decoration: none;
    }
    &__favorite{
      height: 30px;
      color: $white;
      text-align: right;
      font-family: 'kosugi';
      margin: 0 auto;
      line-height: 30px;
      padding-right: 50px;
      a{
        text-decoration: none;
        color:white;
      }
    }
    &__btn ul{
      display: flex;
      li{
        margin: auto 0;
        a{
          text-decoration: none;
          color: $white;
          font-family: 'kosugi';
          margin-right: 20px;
        }
      }
    }
  }
}
@media screen and (max-width:480px) {
  .header{
    height: 30px;
    width:100%;
    background : $headterfooter;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    z-index: 3;
    position: fixed;
    &__left{
      margin: auto 10px;
      color: $white;
      font-size: 20px;
      font-family: "hikki";
      z-index: 1;
      a{
        color: $white;
        text-decoration: none;
      }
    }
    &__right{
      margin: 0px 0px 0px -10px;
      display: flex;
      
      &__current{
        width: 27vw;
        height: 30px;
        color: $white;
        font-family: 'kosugi';
        font-size: 10px;
        transform: scale(0.9);
        padding-right: 0px;
        margin: 0px 1vw 0px 4vw;
        line-height: 10px;
        a{
          display: table-cell;
          width: 27vw;
          height: 30px;
          text-align: center;
          vertical-align: middle;
        }
        span{
        }
      }

      &__favorite{
        height: 30px;
        width: 25vw;
        color: $white;
        text-align: right;
        font-family: 'kosugi';
        line-height: 28px;
        padding-right: 0px;
        margin-left: 7vw;
        transform: scale(0.8);
        a{
        text-decoration: none;
        color:white;
        font-size: 12px;
        }
      }

      &__btn{
        width: 50vw;
        transform: scale(0.8);
        margin: 0 0 0px -5vw;
        ul{
          display: flex;
          li{
            margin: 0 auto;
            a{
              margin-right: 0px;
              text-decoration: none;
              color: $white;
              font-size: 12px;
              font-family: 'kosugi';
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width:768px) and ( max-width:1024px){
  .header{
    height: 60px;
    width:100%;
    background : $headterfooter;
    display: flex;
    justify-content: space-between;
    margin:auto 0;
    z-index: 3;
    position: fixed;
    &__left{
      margin: auto 0;
      color: $white;
      margin: auto 10px;
      font-size: 40px;
      font-family: "hikki";
      z-index: 1;
      a{
        color: $white;
        text-decoration: none;
      }
    }
    &__right{
      margin: auto 0;
      display: flex;
      height: 30px;
      line-height: 30px;
      
      &__current{
        width: 45vw;
        color: $white;
        font-family: 'kosugi';
        font-size: 12px;
        
        padding-right: 0px;
        line-height: 21px;
        margin: 6px -2vw 0px 0vw;
        text-align: center;
        a{
          text-decoration: none;
          color:white;
        }
        span{
          display: inline-block;
        }
      }
      &__favorite{
        height: 30px;
        width: 25vw;
        color: $white;
        text-align: right;
        font-family: 'kosugi';
        line-height: 30px;
        padding-right: 0px;
        margin: 0px 5vw 0px 0px;
        a{
        text-decoration: none;
        color:white;
        font-size: 15px;
        }
      }

      &__btn{
        width: 35vw;
        margin: 0 0 0px -3vw;
        ul{
          display: flex;
          li{
            margin: 0 auto;
            a{
              margin-right: 0px;
              text-decoration: none;
              color: $white;
              font-size: 15px;
              font-family: 'kosugi';
            }
          }
        }
      }
    }
  }
}