.info {
  height: 170px;
  position: absolute;
  bottom: 70px;
  left: 30px;
  background : $headterfooter;
  border-radius: 10px;
  z-index: 3;
  padding: 10px;
  
  &__count {
    display: flex;
    justify-content: center;
    font-family: 'tegaki';

    &__key {
      font-size: 20px;
      color: $white;
      margin-top: 15px;
    }
    &__value {
      font-size: 30px;
      color: $formcolor;
      text-shadow: 1px 1px $shikagray;  
      margin-top: 5px;
      margin-left: 20px;
    }
    &__label {
      font-size: 20px;
      color: $white;
      margin-top: 15px;
      margin-left: 20px;
    }
  }
  &__point {
    display: flex;
    justify-content: center;
    font-family: 'tegaki';

    &__key {
      font-size: 20px;
      color: $white;
      margin-top: 40px;
    }
    &__value {
      font-size: 30px;
      color: $formcolor;
      text-shadow: 1px 1px $shikagray;
      margin-top: 30px;
      margin-left: 20px;
    }
  }
  &__rank {
    display: flex;
    justify-content: center;
    font-family: 'tegaki';

    &__key {
      font-size: 20px;
      color: $white;
      margin-top: 40px;
    }
    &__value {
      font-size: 30px;
      color: $formcolor;
      text-shadow: 1px 1px red;
      margin-top: 30px;
      margin-left: 10px;
    }
    &__label {
      font-size: 20px;
      color: $white;
      margin-top: 40px;
      margin-left: 10px;
    }

  }

  
}