.user {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  font-family: 'Hiragino Maru Gothic ProN';
  background-color: $white;

  &__left {
    width: 50%;
    background: linear-gradient( 135deg, rgba(151, 255, 119, 0.6), rgba(43, 82, 255, 0.8)),url(/assets/tokyo.jpg);
    background-size: cover;
    position:relative;
    &__text{
      width:100%;
      color: $white;
      position: absolute;
      display: inline-block;
      text-align: center;
      top:50%;
      transform: translateY(-50%);
      font-family: 'Hiragino Maru Gothic ProN';
      font-size: 40px;
    }
  }
  
  &__right {
    width: 50%;
    padding-top: 10%;
    
    &__title {
      color:$shikagray;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: $textshadow;
    }

    a{
      text-decoration: none;
    }

    &__newlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
    }
    &__mainlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    &__backlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    #new_user{
      text-align: center;
    }  
    #edit_user_1{
      text-align: center;
    }
    #edit_user_2{
      text-align: center;
    }

    &__field {
      &--label {
        font-size: 20px;
        color:$shikagray;
        text-shadow: $textshadow;;
      }
      
      &--input {
        input {
          width: 400px;
          padding: 10px;
          background-color: $formcolor;
        }
      }

      &--checkbox {
        padding-top: 3%;
        
       &__checkbox {
          margin: 0 0 10px 20px;
       }
        label {
          padding-left: 30px;
          font-size: 20px;
          line-height: 20px;
          display: inline-block;
          cursor: pointer;
          position: relative;
        }
      
        label:before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          position: absolute;
          left: 0;
          background-color:#fff;
          box-shadow: inset 1px 2px 3px 0px #000;
          border-radius: 6px 6px 6px 6px;
        }
      
        input[type=checkbox] {
          display: none;
        }
      
        input[type=checkbox]:checked + label:before {
          content: "\2713"; 
          font-size: 20px;
          color: white;
          background-color: rgb(88, 155, 255); 
        }
      }
    }
    &__actions {
      height: 80px;
      width: 200px;
      background-color: $devisebuttoncolor;
      border-radius: 10px;
      border: none;
      color: $white; 
      font-size: 30px;
      margin-top: 10%;
    }

    &__error {
      text-align: center;
      color: $errorcolor;
      font-weight: bold;
      text-shadow: $textshadow;
      position: relative;
      top: -150px;
    }
  }
}