.user {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  font-family: 'Hiragino Maru Gothic ProN';
  background-color: $white;
  position: relative;
  &__left {
    width: 50%;
    background: linear-gradient( 135deg, rgba(99, 255, 51, 0.8), rgba(43, 82, 255, 0.8)),url(https://shikanai1993.s3-ap-northeast-1.amazonaws.com/uploads/image/picture/images_V1/tokyo.jpg);
    background-size: cover;
    background-position-x: 60%;
    position:relative;
    &__text{
      width:100%;
      color: $white;
      position: absolute;
      display: inline-block;
      text-align: center;
      top:50%;
      transform: translateY(-50%);
      font-family: 'Hiragino Maru Gothic ProN';
      font-size: 40px;
    }
  }
  
  &__right {
    width: 50%;
    padding-top: 10vh;
    height: calc(100vh - 10vh);
    &__title {
      color:$shikagray;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: $textshadow;
    }

    a{
      text-decoration: none;
    }

    &__newlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
    }
    &__mainlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        } 
    }
    &__delete {
      height: 40px;
      width: 150px;
      margin: 10% auto;
      form.button_to{
        button{
          height: 40px;
          width: 150px;
          border-radius: 8px;
          font-size: 15px;
          border-style: none;
          background-color: #cc0000;
          color: $white;
          outline: none;
        }  
      }
    }
    &__backlink {
      height: 40px;
      width: 150px;
      background-color: $devisebuttoncolor;
      border-radius: 8px;
      margin: 10% auto;
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    
    #new_user{
      text-align: center;
    }  
    form.edit_user{
      text-align: center;
    }

    &__field {
      &--label {
        font-size: 20px;
        color:$shikagray;
        text-shadow: $textshadow;;
      }
      
      &--input {
        input {
          width: 400px;
          padding: 10px;
          background-color: $formcolor;
        }
      }

      &--checkbox {
        padding-top: 3%;
        
       &__checkbox {
          margin: 0 0 10px 20px;
       }
        label {
          padding-left: 30px;
          font-size: 20px;
          line-height: 20px;
          display: inline-block;
          cursor: pointer;
          position: relative;
        }
      
        label:before {
          content: '';
          width: 20px;
          height: 20px;
          display: inline-block;
          position: absolute;
          left: 0;
          background-color:#fff;
          box-shadow: inset 1px 2px 3px 0px #000;
          border-radius: 6px 6px 6px 6px;
        }
      
        input[type=checkbox] {
          display: none;
        }
      
        input[type=checkbox]:checked + label:before {
          content: "\2713"; 
          font-size: 20px;
          color: white;
          background-color: rgb(88, 155, 255); 
        }
      }
    }
    &__actions {
      height: 80px;
      width: 200px;
      background-color: $devisebuttoncolor;
      border-radius: 10px;
      border: none;
      color: $white; 
      font-size: 30px;
      margin-top: 10%;
    }

    &__error {
      text-align: center;
      color: $errorcolor;
      font-weight: bold;
      text-shadow: $textshadow;
      position: relative;
      top: -150px;
    }
  }
  &__scroll{
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 20vw;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    a {
      padding-top: 70px;
      text-decoration: none;
      color: $white;
      font-family: 'hikki';
      font-weight: normal;
      font-size: 30px;
    }
    a span {
      position: absolute;
      top: -60px;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-animation: sdb 1.5s infinite;
      animation: sdb 1.5s infinite;
      box-sizing: border-box;
    }
    @-webkit-keyframes sdb {
      0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
    @keyframes sdb {
      0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
      }
    }
  }
}
@media screen and (max-width:480px) {
  .user {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Hiragino Maru Gothic ProN';
    background-color: $white;
  
    &__left {
      width: 100%;
      height: 35vh;
      background: linear-gradient( 135deg, rgba(99, 255, 51, 0.8), rgba(43, 82, 255, 0.8)),url(https://shikanai1993.s3-ap-northeast-1.amazonaws.com/uploads/image/picture/images_V1/tokyo.jpg);
      background-size: cover;
      background-position-x: 60%;
      position:relative;
      &__text{
        width:100%;
        color: $white;
        position: absolute;
        display: inline-block;
        text-align: center;
        top:50%;
        transform: translateY(-50%);
        font-family: 'Hiragino Maru Gothic ProN';
        font-size: 20px;
      }
    }
    
    &__right {
      width: 100%;
      height: 68vh;
      padding-top: 0%;
      &__title {
        color:$shikagray;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        text-shadow: $textshadow;
      }
  
      a{
        text-decoration: none;
      }
  
      &__newlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 10% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
          }
      }
      &__mainlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 3% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
          } 
      }
      &__delete {
        height: 40px;
        width: 150px;
        margin: 10% auto;
        form.button_to{
          button{
            height: 40px;
            width: 150px;
            border-radius: 8px;
            font-size: 15px;
            border-style: none;
            background-color: #cc0000;
            color: $white;
            outline: none;
          }  
        }
      }
      &__backlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 10% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
        } 
      }
      
      #new_user{
        text-align: center;
      }  
      form.edit_user{
        text-align: center;
      }
  
      &__field {
        &--label {
          font-size: 20px;
          color:$shikagray;
          text-shadow: $textshadow;;
        }
        
        &--input {
          input {
            width: 270px;
            padding: 10px;
            background-color: $formcolor;
            font-size: 10px;
          }
        }
  
        &--checkbox {
          padding-top: 3%;
          
         &__checkbox {
            margin: 0 0 10px 20px;
         }
          label {
            padding-left: 30px;
            font-size: 12px;
            line-height: 20px;
            display: inline-block;
            cursor: pointer;
            position: relative;
          }
        
          label:before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            left: 0;
            background-color:#fff;
            box-shadow: inset 1px 2px 3px 0px #000;
            border-radius: 6px 6px 6px 6px;
          }
        
          input[type=checkbox] {
            display: none;
          }
        
          input[type=checkbox]:checked + label:before {
            content: "\2713"; 
            font-size: 20px;
            color: white;
            background-color: rgb(88, 155, 255); 
          }
        }
      }
      &__actions {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 10px;
        border: none;
        color: $white; 
        font-size: 20px;
        margin-top: 6%;
      }
  
      &__error {
        text-align: center;
        color: $errorcolor;
        font-weight: bold;
        text-shadow: $textshadow;
        position: relative;
        top: -150px;
      }
    }
    &__scroll{
      display: inline-block;
      position: absolute;
      bottom: 20px;
      left: 20vw;
      z-index: 2;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      text-align: center;
      a {
        padding-top: 0;
        position: absolute;
        top: -72vh;
        left: 21vw;
        text-decoration: none;
        color: #f1f1f1;
        font-family: 'hikki';
        font-weight: normal;
        font-size: 15px;
      }
      a span {
        position: absolute;
        width: 10px;
        height: 10px;
        top: -30px;
        margin-left: -6px;
        border-left: 2px solid $white;
        border-bottom: 2px solid $white;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-animation: sdb 1.5s infinite;
        animation: sdb 1.5s infinite;
        box-sizing: border-box;
      }
      @-webkit-keyframes sdb {
        0% {
          -webkit-transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          -webkit-transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
      @keyframes sdb {
        0% {
          transform: rotate(-45deg) translate(0, 0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: rotate(-45deg) translate(-20px, 20px);
          opacity: 0;
        }
      }
    }
  }
}
@media screen and (min-width:768px) and ( max-width:1024px){
  .user {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    font-family: 'Hiragino Maru Gothic ProN';
    background-color: $white;
  
    &__left {
      width: 50%;
      background: linear-gradient( 135deg, rgba(99, 255, 51, 0.8), rgba(43, 82, 255, 0.8)),url(https://shikanai1993.s3-ap-northeast-1.amazonaws.com/uploads/image/picture/images_V1/tokyo.jpg);
      background-size: cover;
      background-position-x: 60%;
      position:relative;
      &__text{
        width:100%;
        color: $white;
        position: absolute;
        display: inline-block;
        text-align: center;
        top:50%;
        transform: translateY(-50%);
        font-family: 'Hiragino Maru Gothic ProN';
        font-size: 40px;
      }
    }
    
    &__right {
      width: 50%;
      padding-top: 15vh;
      height: calc(100vh - 15vh);
      &__title {
        color:$shikagray;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-shadow: $textshadow;
      }
  
      a{
        text-decoration: none;
      }
  
      &__newlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 10% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
          }
      }
      &__mainlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 10% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
          } 
      }
      &__delete {
        height: 40px;
        width: 150px;
        margin: 10% auto;
        form.button_to{
          button{
            height: 40px;
            width: 150px;
            border-radius: 8px;
            font-size: 15px;
            border-style: none;
            background-color: #cc0000;
            color: $white;
            outline: none;
          }  
        }
      }
      &__backlink {
        height: 40px;
        width: 150px;
        background-color: $devisebuttoncolor;
        border-radius: 8px;
        margin: 10% auto;
          &--font {
            color: $white;
            font-size: 15px;
            text-align: center;
            line-height: 40px;
        } 
      }
      
      #new_user{
        text-align: center;
      }  
      form.edit_user{
        text-align: center;
      }
  
      &__field {
        &--label {
          font-size: 20px;
          color:$shikagray;
          text-shadow: $textshadow;;
        }
        
        &--input {
          input {
            width: 400px;
            padding: 10px;
            background-color: $formcolor;
          }
        }
  
        &--checkbox {
          padding-top: 3%;
          
         &__checkbox {
            margin: 0 0 10px 20px;
         }
          label {
            padding-left: 30px;
            font-size: 20px;
            line-height: 20px;
            display: inline-block;
            cursor: pointer;
            position: relative;
          }
        
          label:before {
            content: '';
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            left: 0;
            background-color:#fff;
            box-shadow: inset 1px 2px 3px 0px #000;
            border-radius: 6px 6px 6px 6px;
          }
        
          input[type=checkbox] {
            display: none;
          }
        
          input[type=checkbox]:checked + label:before {
            content: "\2713"; 
            font-size: 20px;
            color: white;
            background-color: rgb(88, 155, 255); 
          }
        }
      }
      &__actions {
        height: 80px;
        width: 200px;
        background-color: $devisebuttoncolor;
        border-radius: 10px;
        border: none;
        color: $white; 
        font-size: 30px;
        margin-top: 10%;
      }
  
      &__error {
        text-align: center;
        color: $errorcolor;
        font-weight: bold;
        text-shadow: $textshadow;
        position: relative;
        top: -150px;
      }
    }
  }
}