.main{
  height: 100vh;
  background: $images-background;
  &__stationname{
    width:100%;
    line-height: 60px;
    text-align: center;
    font-family: 'tegaki';
    font-size: 45px;
    color:$white;
  }
  &__images{
    margin: 0px 40px 40px 40px;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: scroll;
      &__picture{
        height: 400px;
        width: 400px;
        line-height: 400px;
        text-align: center;
        box-sizing: border-box;
        margin: 20px;
        position: relative;
        img{
          object-fit: cover;
          height: 400px;
          width: 100%;
          border-radius: 11px;
        }
        a{
          text-decoration: none;
        }
        &__delete {
          height: 22px;
          width: 22px;
          top:7px;
          right: 7px;
          border-radius: 11px;
          position: absolute;
          background: rgba(100,100,100,0.3);
            form.button_to{
              button{
                top:-10px;
                right: -5px;
                font-size: 25px;
                font-family: 'Hiragino Mincho ProN';
                text-decoration: none;
                border-style: none;
                color: $white;
                background: rgba(100,100,100,0.0);
                border-radius: 11px;
                position: absolute;
              }
              button:focus {
                outline:0;
              }
            }
          }
        &__text{
          position: absolute;
          top:370px;
          left:20px;
          color:$white;
          font-family : 'tegaki';
          background-color: rgba(100, 100, 100, 0.6);
          line-height: 20px;
          border-radius: 3px;
          padding: 0px 5px 0px 5px;
          box-shadow: 0 0 5px 1px #616161;
        }
      }
      &__picture:nth-child(3n+2):last-child {
        margin-left: 20px;
        margin-right: 35.3%;
      }
    
  }
}