.main{
  background: $images-background;
  min-height: 100%;
  &__stationname{
    width:100%;
    line-height: 60px;
    text-align: center;
    font-family: 'tegaki';
    font-size: 45px;
    color:$white;
    padding-top: 60px;
    position: fixed;
    z-index: 2;
    a{
      text-decoration: none;
      color: #FFF;
      font-size: 20px;
      position: absolute;
      left: 67%;
      top: 60%;
    }
  }
  &__images{
    padding: 120px 0px 90px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    row-gap: 3px;
      &__picture{
        position: relative;
        margin-bottom: -6px;
        img{
          object-fit: cover;
          height: 400px;
          width: 100%;
        }
        a{
          text-decoration: none;
        }
        &__delete {
          height: 22px;
          width: 22px;
          top:7px;
          right: 7px;
          border-radius: 11px;
          position: absolute;
          background: rgba(100,100,100,0.3);
            form.button_to{
              button{
                top:-10px;
                right: -4.5px;
                font-size: 25px;
                font-family: 'Hiragino Mincho ProN';
                text-decoration: none;
                border-style: none;
                color: $white;
                background: rgba(100,100,100,0.0);
                border-radius: 11px;
                position: absolute;
              }
              button:focus {
                outline:0;
              }
            }
          }
        &__favorite {
          top:15px;
          right: 7px;
          border-radius: 11px;
          position: absolute;
          background: rgba(100,100,100,0.3);
          &__icon{

            img{
              height: 2vh;
              width: 2vh;
            }
          }
            form.button_to{
              button{
                top:-10px;
                right: -4.5px;
                font-size: 25px;
                font-family: 'Hiragino Mincho ProN';
                text-decoration: none;
                border-style: none;
                color: $white;
                background: rgba(100,100,100,0.0);
                border-radius: 11px;
                position: absolute;
              }
              button:focus {
                outline:0;
              }
            }
          }
        &__text{
          width: 55%;
          position: absolute;
          top:360px;
          left:10px;
          line-height: 17px;
          border-radius: 3px;
          padding: 0px 5px 0px 5px;
          
          p{
            width:fit-content;
            font-family: 'tegaki';
            background-color: rgba(100, 100, 100, 0.6);
            box-shadow: 0 0 5px 1px #616161;
            font-size: 17px;
            color:$white;
          }
        }
        &__date{
          position: absolute;
          top: 380px;
          right: 5px;
          padding: 0px 5px 0px 5px;
          color: rgb(236, 135, 76);
          font-family : 'tegaki';
          font-size: 16px;
          line-height: 16px;
          font-weight: 900;
          text-shadow: 0px 0px 5px rgb(214, 90, 18);
          backdrop-filter: blur(1px);
          border-radius: 7px;
        }
      }
  }
}
@media screen and (max-width:480px) {
  .main{
    background: $images-background;
    min-height: 100%;
    &__stationname{
      width:100%;
      line-height: 30px;
      text-align: center;
      font-family: 'tegaki';
      font-size: 20px;
      color:$white;
      padding-top: 60px;
      position: fixed;
      z-index: 2;
      a{
        text-decoration: none;
        color: #FFF;
        font-size: 20px;
        position: absolute;
        left: 67%;
        top: 60%;
      }
    }
    &__images{
      padding: 90px 0px 90px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows:1fr 1fr;
      grid-gap: 3px;
      row-gap: 2px;
        &__picture{
          position: relative;
          margin-bottom: -6px;
          img{
            object-fit: cover;
            height: 215px;
            width: 100%;
          }
          a{
            text-decoration: none;
          }
          &__delete {
            height: 22px;
            width: 22px;
            top:7px;
            right: 7px;
            border-radius: 11px;
            position: absolute;
            background: rgba(100,100,100,0.3);
              form.button_to{
                button{
                  top:-10px;
                  right: -24.5px;
                  font-size: 25px;
                  font-family: 'Hiragino Mincho ProN';
                  text-decoration: none;
                  border-style: none;
                  color: $white;
                  background: rgba(100,100,100,0.0);
                  border-radius: 11px;
                  position: absolute;
                }
                button:focus {
                  outline:0;
                }
              }
            }
          &__favorite {
            top:5px;
            right: -5px;
            border-radius: 11px;
            position: absolute;
            background: rgba(100,100,100,0.3);
            &__icon{
  
              img{
                height: 2vh;
                width: 2vh;
              }
            }
              form.button_to{
                button{
                  top: -20px;
                  right: -16.5px;
                  font-size: 25px;
                  font-family: 'Hiragino Mincho ProN';
                  text-decoration: none;
                  border-style: none;
                  color: $white;
                  background: rgba(100,100,100,0.0);
                  border-radius: 11px;
                  position: absolute;
                }
                button:focus {
                  outline:0;
                }
              }
            }
          &__text{
            width: 55%;
            position: absolute;
            top: 85%;
            left: 2%;
            line-height: 10px;
            border-radius: 3px;
            padding: 0px 5px 0px 5px;
            
            p{
              width:fit-content;
              font-family: 'tegaki';
              background-color: rgba(100, 100, 100, 0.6);
              box-shadow: 0 0 5px 1px #616161;
              font-size: 10px;
              color:$white;
            }
          }
          &__date{
            position: absolute;
            top: 380px;
            right: 5px;
            padding: 0px 5px 0px 5px;
            color: rgb(236, 135, 76);
            font-family : 'tegaki';
            font-size: 16px;
            line-height: 16px;
            font-weight: 900;
            text-shadow: 0px 0px 5px rgb(214, 90, 18);
            backdrop-filter: blur(1px);
            border-radius: 7px;
          }
        }
    }
  }
}
@media screen and (min-width:768px) and ( max-width:1024px){
  .main{
    background: $images-background;
    min-height: 100%;
    &__stationname{
      width:100%;
      line-height: 60px;
      text-align: center;
      font-family: 'tegaki';
      font-size: 45px;
      color:$white;
      padding-top: 60px;
      position: fixed;
      z-index: 2;
      a{
        text-decoration: none;
        color: #FFF;
        font-size: 20px;
        position: absolute;
        left: 67%;
        top: 60%;
      }
    }
    &__images{
      padding: 120px 0px 90px 0px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 3px;
      row-gap: 3px;
        &__picture{
          position: relative;
          margin-bottom: -6px;
          img{
            object-fit: cover;
            height: 400px;
            width: 100%;
          }
          a{
            text-decoration: none;
          }
          &__delete {
            height: 22px;
            width: 22px;
            top:7px;
            right: 7px;
            border-radius: 11px;
            position: absolute;
            background: rgba(100,100,100,0.3);
              form.button_to{
                button{
                  top:-10px;
                  right: -24.5px;
                  font-size: 25px;
                  font-family: 'Hiragino Mincho ProN';
                  text-decoration: none;
                  border-style: none;
                  color: $white;
                  background: rgba(100,100,100,0.0);
                  border-radius: 11px;
                  position: absolute;
                }
                button:focus {
                  outline:0;
                }
              }
            }
          &__favorite {
            top: 5px;
            right: -5px;
            border-radius: 11px;
            position: absolute;
            background: rgba(100,100,100,0.3);
            &__icon{
  
              img{
                height: 2vh;
                width: 2vh;
              }
            }
              form.button_to{
                button{
                  top:-20px;
                  right: -16.5px;
                  font-size: 25px;
                  font-family: 'Hiragino Mincho ProN';
                  text-decoration: none;
                  border-style: none;
                  color: $white;
                  background: rgba(100,100,100,0.0);
                  border-radius: 11px;
                  position: absolute;
                }
                button:focus {
                  outline:0;
                }
              }
            }
          &__text{
            width: 55%;
            position: absolute;
            top:360px;
            left:10px;
            line-height: 17px;
            border-radius: 3px;
            padding: 0px 5px 0px 5px;
            
            p{
              width:fit-content;
              font-family: 'tegaki';
              background-color: rgba(100, 100, 100, 0.6);
              box-shadow: 0 0 5px 1px #616161;
              font-size: 17px;
              color:$white;
            }
          }
          &__date{
            position: absolute;
            top: 380px;
            right: 5px;
            padding: 0px 5px 0px 5px;
            color: rgb(236, 135, 76);
            font-family : 'tegaki';
            font-size: 16px;
            line-height: 16px;
            font-weight: 900;
            text-shadow: 0px 0px 5px rgb(214, 90, 18);
            backdrop-filter: blur(1px);
            border-radius: 7px;
          }
        }
    }
  }
}