.header{
  height: 60px;
  width:100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  margin:auto 0;
  &__left{
    margin: auto 0;
    color: white;
    margin: auto 10px;
    font-size: 25px;
    font-family: "TimesNewRoman";
    a{
      color: white;
      text-decoration: none;
    }
  }
  .header__right{
    margin: auto 0;
    display: flex;
    
    .current{
      height: 30px;
      width: 600px;
      border-radius: 10px;
      color:white;
      margin-right: 20px;
      text-align: right;
    }

    .btn ul{
      display: flex;
      li{
        margin: auto 10px;
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
.main{
  height: 680px;
  width: 100%;
}
.footer{
  height: 50px;
  width:100%;
  background-color: #333;
  position: relative;
  &__credit{
    position: absolute;
    right: 10px;
    bottom: 5px;
    a{
      text-decoration: none;
      color: white;
      font-size:12px;
    }
  }
}