.main{
  height: 100vh;
  background: $main-background;
  &__stationname{
    height:60px;
    width:100%;
    line-height: 60px;
    text-align: center;
    font-family: 'tegaki';
    font-size: 30px;
    color:$white;
  }
  &__images{
    margin: 0px 40px 40px 40px;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    
    
      &__picture{
        height: 400px;
        width: 400px;
        line-height: 400px;
        text-align: center;
        margin: 20px;
        position: relative;
        object-fit: cover;
        img{
          object-fit: cover;
          height: 400px;
          width: 100%;
          border-radius: 11px;
        }
        a{
          text-decoration: none;
        }
        &__delete {
          height: 22px;
          width: 22px;
          top: 7px;
          right: 7px;
          border-radius: 11px;
          position: absolute;
          background: rgba(100,100,100,0.3);
          a{
            text-decoration: none;
          }
          &--font {
            font-size: 25px;
            color: $white;
            font-family: 'Hiragino Mincho ProN';
            text-decoration: none;
          }
        }

        &__text{
          position: absolute;
          top:370px;
          left:20px;
          color:$white;
          font-family : 'tegaki';
          background-color: rgba(100, 100, 100, 0.6);
          line-height: 20px;
          border-radius: 3px;
          padding: 0px 5px 0px 5px;
          box-shadow: 0 0 5px 1px #616161;
        }
      }
    
  }
}