.header{
  height: 60px;
  width:100%;
  background-color:$shikagray;
  display: flex;
  justify-content: space-between;
  position: fixed;
  &__left{
    margin: auto 0;
    color:$purewhite;
    margin: auto 10px;
    font-size: 25px;
    font-family: 'TimesNewRoman';
    a{
      color:$purewhite;
      text-decoration: none;
    }
  }
  &__right{
    margin: auto 0;
    &__btn ul{
      display: flex;
      li{
        margin: auto 10px;
        a{
          text-decoration: none;
          color:$purewhite;
        }
      }
    }
  }
}
.main{
  height: 100vh;
  padding-top:60px;
  background: $main-background;
  &__stationname{
    height:60px;
    width:100%;
    line-height: 60px;
    text-align: center;
    font-family: 'tegaki';
    font-size: 30px;
    color:$purewhite;
  }
  &__images{
    margin: 0px 40px 40px 40px;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    
    &__image{
      height: 400px;
      width: 400px;
      line-height: 400px;
      text-align: center;
      margin: 20px;
      background: $imagecolor;
      position: relative;

      img{
        object-fit: cover;
      }
      
      &__comment{
        height: 10px;
        position: absolute;
        top:180px;
        left:20px;
        color:$purewhite;
        font-family : 'tegaki';
      }
    }
  }
}

.footer{
  height: 50px;
  width:100%;
  background-color:$shikagray;
  position: fixed;
  bottom: 0;
  &__commentform{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &__input{
      width: 80%;
      display: flex;
      position: relative;
      label{
      
        position: absolute;
        right: 10px;
      }
      input{
        width:100%;
      }
      &__image{
        position: absolute;
        right: 10px;
      }
    }
    &__submit{
      margin-left: 15px;
      input{

      }
    }
  }
}