.header{
  height: 60px;
  width:100%;
  background-color:$shikagray;
  display: flex;
  justify-content: space-between;
  position: fixed;
  &__left{
    margin: auto 0;
    color:$purewhite;
    margin: auto 10px;
    font-size: 40px;
    font-family: 'hikki';
    a{
      color:$purewhite;
      text-decoration: none;
    }
  }
  &__right{
    margin: auto 0;
    &__btn ul{
      display: flex;
      li{
        margin: auto 10px;
        a{
          text-decoration: none;
          color:$purewhite;
        }
      }
    }
  }
}
.main{
  height: 100vh;
  padding-top:60px;
  background: $main-background;
  &__stationname{
    height:60px;
    width:100%;
    line-height: 60px;
    text-align: center;
    font-family: 'tegaki';
    font-size: 30px;
    color:$purewhite;
  }
  &__images{
    margin: 0px 40px 40px 40px;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    
    
      &__picture{
        height: 400px;
        width: 400px;
        line-height: 400px;
        text-align: center;
        margin: 20px;
        background: $imagecolor;
        position: relative;
        object-fit: cover;
        img{
          object-fit: cover;
          height: 400px;
          width: 100%;
          border-radius: 11px;
        }
        &__delete {
        height: 22px;
        width: 22px;
        top:7px;
        right: 7px;
        border-radius: 11px;
        position: absolute;
        background: rgba(100,100,100,0.3);
          a{
            text-decoration: none;
          }
          &--font {
            line-height: 20px;
            text-align: center;
            font-size: 25px;
            color: $purewhite;
            font-family: 'Hiragino Mincho ProN';
            text-decoration: none;
          }
        }

        &__text{
          position: absolute;
          top:370px;
          left:20px;
          color:$purewhite;
          font-family : 'tegaki';
          background-color: rgba(100, 100, 100, 0.6);
          line-height: 20px;
          border-radius: 3px;
          padding: 0px 5px 0px 5px;
          box-shadow: 0 0 5px 1px #616161;
        }
      }
    
  }
}

.footer{
  height: 80px;
  width: 100%;
  background-color:$shikagray;
  position: fixed;
  bottom: 0;
  &__commentform{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    &__input{
      display: flex;
      position: relative;
      
      &__picture {
      
        .input-default {
          display: none;
        }
      
        .boxFileSelect {
          width: 200px;
          height: 60px;
          text-align: center;
          line-height: 60px;
          border-radius: 30px;
          border: 1px solid #d3d3d3;
          background: linear-gradient(-20deg, #CCFFFF, #99CCFF);
          font-size: 25px;
          color: $shikagray;
          margin-top: 0;
          margin-left: 350px;
          cursor: pointer;
          font-family: 'tegaki';

        }
      }
      
    

      &__text{  

      }
    }
    &__submit{
      margin-left: 15px;
      display: flex;
    }
  }
}

.newimage{
  width: 100%;
}