.user {
  height: calc(100vh - 110px);
  display: flex;
  justify-content: flex-start;
  font-family: 'Hiragino Maru Gothic ProN';
  position: relative;
  padding-top: 60px;
  overflow: hidden;

  &__img {
    img{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(10px);
    filter: blur(5px);
    margin: -10px;  
    width: calc(100% + 20px);
    }
  }

  &__left {
  }

  &__right {
    width: 40%;
    height: 600px;
    left: 55%;
    position: relative;

    &__title {
      color:$shikagray;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: $textshadow;
    }

    a{
      text-decoration: none;
    }

    &__newlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      left:20%;
      top:73%;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
    }
    &__mainlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      left:55%;
      top:73%;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    &__backlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 8px;
      position: absolute;
      left:37%;
      top:65%;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }  
    #edit_user_2{
      text-align: center;
    }


    &__field {
      text-align: center;
      margin-top: 30px;
      &--label {
        font-size: 20px;
        color:$shikagray;
        text-shadow: $textshadow;
      }

      &--input {
        input {
          width: 400px;
          padding: 10px;
          background-color: $formcolor;
        }
      }    
    }

    &__actions {
      height: 80px;
      width: 200px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 10px;
      border: none;
      color: $white; 
      font-size: 30px;
      margin-top: 40px;
    }

    &__checkbox {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      color:$shikagray;
      font-size: 20px;
      text-shadow: $textshadow;
    }
    &__error {
      position: absolute;
      top:500px;
      left:50px;
      color: $errorcolor;
      font-weight: bold;
      text-shadow: $textshadow;
    }
  } 
}