.user {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  font-family: 'Hiragino Maru Gothic ProN';
  position: relative;
  overflow: hidden;
  background-color: $white;

  &__left {
    width: 50%;
    height: calc(100vh - 60px);
    background: linear-gradient( 135deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8)),url(/assets/tokyo.jpg);
    background-size: cover;
    position:relative;
    &__text{
      width:100%;
      height: 50px;
      color: $white;
      position: absolute;
      display: inline-block;
      text-align: center;
      top:50%;
      transform: translateY(-50%);
      font-family: 'Hiragino Maru Gothic ProN';
      font-size: 40px;
    }
    
    //&__img {
    //  img{
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  -webkit-filter: blur(10px);
    //  filter: blur(5px);
    //  margin: -10px;  
    //  width: calc(50% + 20px);
    //  }
    }
  

  &__right {
    width: 40%;
    height: 88%;
    left: 5%;
    top: 10%;
    position: relative;
    
    &__title {
      color:$shikagray;
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      text-shadow: $textshadow;
    }

    a{
      text-decoration: none;
    }

    &__newlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      left:20%;
      top:550px;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
    }
    &__mainlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      left:55%;
      top:550px;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    &__backlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 8px;
      position: absolute;
      left:37%;
      top:400px;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    #new_user{
      text-align: center;
    }  
    #edit_user_2{
      text-align: center;
    }


    &__field {
      &--label {
        font-size: 20px;
        color:$shikagray;
        text-shadow: $textshadow;;
      }
      &--input {
        input {
          width: 400px;
          padding: 10px;
          background-color: $formcolor;
        }
      }    
    }

    &__actions {
      height: 80px;
      width: 200px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 10px;
      border: none;
      color: $white; 
      font-size: 30px;
      margin-top: 15%;
    }

    &__checkbox {
      text-align: center;
      color:$shikagray;
      font-size: 20px;
      text-shadow: $textshadow;
      position: absolute;
      top: 240px;
      left: 28%;
    }
    &__error {
      text-align: center;
      color: $errorcolor;
      font-weight: bold;
      text-shadow: $textshadow;
      position: relative;
      top: -150px;
    }
  }
}
.contents{
  height: 1500px;
  width: 100vw;
  background: linear-gradient( 135deg, rgba(252, 240, 255, 0.8), rgba(200, 200, 200, 0.8)),url(/assets/camera.jpg);
  background-size: cover;
  &__title{
    height: 200px;
    width: 100vw;
    position: relative;
    font-family: 'hikki';
    font-size: 100px;
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      width: 100vw;
      text-align: center;
      color: #ACB6E5;//非対応のブラウザでの文字色を設定
      background: linear-gradient( 135deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8));//背景色にグラデーションを指定
      -webkit-background-clip: text;//テキストでくり抜く
      -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    }
  }
  &__Description{
    height: 600px;
    width: 100vw;
    position: relative;
    font-family: 'Hiragino Maru Gothic ProN';
    font-size: 20px;
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      width: 100vw;
      text-align: center;
      color: $shikagray;
    }
  }
  &__how-to-logo{
    height: 200px;
    width: 100vw;
    position: relative;

    font-family: 'hikki';
    font-size: 100px;
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform : translate(-50%,-50%);
      transform : translate(-50%,-50%);
      width: 100vw;
      text-align: center;
      color: #ACB6E5;//非対応のブラウザでの文字色を設定
      background: linear-gradient( 135deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8));//背景色にグラデーションを指定
      -webkit-background-clip: text;//テキストでくり抜く
      -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
    }
  }
  &__how-to-use{
    height: 30%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    &__step1{
      width: 300px;
      height: 400px;
      span{
        font-size: 40px;
        font-family: 'hikki';
        color: $shikagray;
      }
      p{
        font-family: 'Hiragino Maru Gothic ProN';
        color: $shikagray;
      }
    }
    &__step2{
      width: 300px;
      height: 400px;
      span{
        font-size: 40px;
        font-family: 'hikki';
        color: $shikagray;
      }
      p{
        font-family: 'Hiragino Maru Gothic ProN';
        color: $shikagray;
      }
    }
    &__step3{
      width: 300px;
      height: 400px;
      span{
        font-size: 40px;
        font-family: 'hikki';
        color: $shikagray;
      }
      p{
        font-family: 'Hiragino Maru Gothic ProN';
        color: $shikagray;
      }
    }
  }
}

.main-footer{
  height: 40px;
  width: 100vw;
  background-color: $shikagray;
  font-size: 15px;
  color: $white;
  text-align: center;
  line-height: 40px;
}