.user {
  height: calc(100vh - 110px);
  display: flex;
  justify-content: flex-start;
  font-family: 'Hiragino Maru Gothic ProN';
  position: relative;
  padding-top: 60px;
  overflow: hidden;

  &__img {
    img{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: blur(10px);
    filter: blur(5px);
    margin: -10px;  
    width: calc(100% + 20px);
    }
  }

  &__left {  
    margin-top: 60px;
    position: absolute;
    left: 500px;
    top: 0px;

    &__title {
      height: 100px;
      width: 400px;
      color:$shikagray;
      font-size: 40px;
      font-weight: bold;
      margin-top: 60px;
      text-align: center;
      position: absolute;
      left:350px;
      text-shadow: $textshadow;
    }

    a{
      text-decoration: none;
    }

    &__newlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      top:550px;
      left:380px;

        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
        }
    }
    &__mainlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.9);
      border-radius: 8px;
      position: absolute;
      top:550px;
      left:580px;
      
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }
    &__backlink {
      height: 40px;
      width: 150px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 8px;
      position: absolute;
      top:550px;
      left:485px;
      
        &--font {
          color: $white;
          font-size: 15px;
          text-align: center;
          line-height: 40px;
      } 
    }   
  }

  &__right {
    width: calc(100% - 900px);
    margin-top: 60px;
    left: 800px;
    top: 100px;
    position: absolute;

    &__field {
      position: absolute;
      &--label {
        height: 25px;
        font-size: 20px;
        color:$shikagray;
        margin-top: 10px;
        margin-left: 50px;
        text-shadow: $textshadow;
      }

      &--input {
        input {
          width: 400px;
          padding: 10px;
          margin-left: 50px;
          background-color: $formcolor;
        }
      }    
    }

    &__actions {
      height: 80px;
      width: 200px;
      margin-left: 160px;
      background-color:rgba(51,51,51,0.8);
      border-radius: 10px;
      border: none;
      margin-top: 50px;
      color: $white; 
      font-size: 30px;
      position: absolute;
      top:300px;
    }

    &__checkbox {
      height: 20px;
      width: 520px;
      text-align: center;
      margin-top: 50px;
      color:$shikagray;
      font-size: 20px;
      position: absolute;
      top: 150px;
      text-shadow: $textshadow;
    }
    &__error {
      position: absolute;
      top:500px;
      left:50px;
      color: $errorcolor;
      font-weight: bold;
      text-shadow: $textshadow;
    }
  } 
}