@mixin step(){
  width: 300px;
  background: rgba(252, 255, 255, 0.5);
  padding: 10px 20px;
  span{
    font-size: 40px;
    font-family: 'hikki';
    color: $shikagray;
  }
  p{
    font-family: 'Hiragino Maru Gothic ProN';
    color: $shikagray;
  }
}