.footer__commentform
= form_for [@station, @image] do |f|
  .footer__commentform__input
    .footer__commentform__input__picture
      %label
        = f.file_field :picture, class: 'input-default'
        .boxFileSelect
          写真を選ぶ
    = f.text_field :text, style: "border:none", class: 'footer__commentform__input__text', placeholder: "コメントを入力"
    = f.submit "投稿", style: "border:none", class: 'footer__commentform__submit' 