.footer__commentform
= form_for [@station, @image] do |f|
  .footer__commentform__input
    .footer__commentform__input__picture
      %label
        = f.file_field :picture, class: 'footer__commentform__input__picture__input-default'
        .footer__commentform__input__picture__boxFileSelect 
          写真を選ぶ
    = f.text_field :text, maxlength: '21', style: "border:none", class: 'footer__commentform__input__text', placeholder: "コメントを入力（20文字まで）"
    = f.submit "投稿", style: "border:none", class: 'footer__commentform__submit' 