.footer__commentform
= form_for [@station, @image] do |f|
  .footer__commentform__input
    .footer__commentform__input__picture
      %label
        %input.input-default{:type => "file"}/
        .boxFileSelect
          写真を選ぶ
    = f.text_field :text, class: 'footer__commentform__input__text', placeholder: "コメントする"
  = f.submit "投稿", class: 'footer__commentform__submit' 