.main__images__picture
  = image_tag image.picture_url
  .main__images__picture__delete
    = link_to "/station_id/images/#{image.id}", method: :delete do
      .main__images__picture__delete--font
        ×
  .main__images__picture__text
    = image.text