.header
  = render partial: "maps/header"
.main
  .main__stationname
    = @station.image.name
  .main__images
    -# = render partial:
    -# 仮置状態。数字は繰り返し表示する回数
    = render partial: 'images/main-images', collection: (1..30).to_a
.footer
  = render partial: "form"